# K Nearest Neighbors Predictive Model - 2003
- Stop and Frisk Data

In [1]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
import numpy as np
import os

In [2]:
# Dowloading stop and frisk data
os.system("curl -O http://www.nyc.gov/html/nypd/downloads/zip/analysis_and_planning/2003_sqf_csv.zip")
#os.system("mv nycb2010_16d.zip PUIDATA")
os.system("sudo apt-get install unzip")
#os.getenv("PUIDATA")
os.system("unzip 2003_sqf_csv.zip") # -d" + os.getenv("PUIDATA"))

256

In [2]:
sqf_raw_data = pd.read_csv("2003.csv")
sqf_df = pd.DataFrame(sqf_raw_data)

/Users/christianrosado/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (81,82,83,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
sqf_df.head()

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,perstop,typeofid,explnstp,othpers,arstmade,arstoffn,sumissue,sumoffen,compyear,comppct,offunif,officrid,frisked,searched,contrabn,adtlrept,pistol,riflshot,asltweap,knifcuti,machgun,othrweap,pf_hands,pf_wall,pf_grnd,pf_drwep,pf_ptwep,pf_baton,pf_hcuff,pf_pepsp,pf_other,radio,ac_rept,ac_inves,rf_vcrim,rf_othsw,ac_proxm,rf_attir,cs_objcs,cs_descr,cs_casng,cs_lkout,rf_vcact,cs_cloth,cs_drgtr,ac_evasv,ac_assoc,cs_furtv,rf_rfcmp,ac_cgdir,rf_verbl,cs_vcrim,cs_bulge,cs_other,ac_incid,ac_time,rf_knowl,ac_stsnd,ac_other,sb_hdobj,sb_outln,sb_admis,sb_other,repcmd,revcmd,rf_furt,rf_bulg,offverb,offshld,sex,race,dob,age,ht_feet,ht_inch,weight,haircolr,eyecolor,build,othfeatr,addrtyp,rescode,premtype,premname,addrnum,stname,stinter,crossst,aptnum,city,state,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,2003,70,5,1012003,03:00,,O,,1,ROBBERY,2,V,Y,Y,N,,N,,0,0,Y,,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,Y,N,N,N,N,N,N,N,N,N,N,Y,N,Y,N,N,N,Y,N,N,N,N,N,N,N,N,N,071,071,Y,N,,,M,B,07291986,16,5,9,160,BK,BR,M,,L,,,,240,CROWN ST.,,,,,,,,,,,,,,,
1,2003,70,3,1012003,03:00,,O,,1,ROBBERY,3,V,Y,Y,N,,N,,0,0,Y,,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,Y,N,Y,N,N,Y,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,071,071,N,N,,,M,B,10151988,15,5,8,150,BK,ZZ,M,,L,,,SIDEWALK,240,CROWN ST (F/O),,,,,,,,,,,,,,,
2,2003,68,1406,1012003,03:00,,I,,1,CPW,5,V,Y,Y,N,,N,,0,0,Y,,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,Y,N,N,N,Y,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,071,071,N,N,,,M,Q,08271963,39,5,6,180,BK,BR,M,,L,,,BASEMNT,NaN,270 CLOWN ST,,,,,,,,,,,,,,,
3,2003,48,4,1012003,16:00,,I,,1,BURGLARY,10,R,Y,Y,N,,N,,0,0,N,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,049,049,N,N,V,S,F,Q,12311900,20,5,6,0,BK,XX,Z,,L,,,BUILDING,2125,CRUJES AVE,,,,,,,,,,,,,,,
4,2003,48,999991,1022003,03:35,,O,,30,ROBBERY,10,P,Y,N,N,,N,,0,0,Y,,Y,N,N,N,N,N,N,N,N,N,Y,Y,N,N,N,N,Y,N,N,N,N,N,N,Y,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,048,319,N,N,,,M,B,06081983,19,6,0,155,BK,BK,T,,L,,,STREET,NaN,I/O WHITE PLAINS RD & ALLERTON,,,,,,,,,,,,,,,

In [5]:
features = ['sex', 'race', 'age', 'ht_feet', 'ht_inch', 'weight', 'frisked'] 
clasifier = ['arstmade']

In [6]:
df1 = sqf_df.loc[:,'sex':'weight'].copy()

In [7]:
df2 = sqf_df.loc[:,'city'].copy()

In [8]:
df1.drop(['dob'],inplace=True, axis=1)
df1.head()

  sex race age ht_feet ht_inch weight
0   M    B  16       5       9    160
1   M    B  15       5       8    150
2   M    Q  39       5       6    180
3   F    Q  20       5       6      0
4   M    B  19       6       0    155

In [9]:
df2.head()

0
1
2
3
4
Name: city, dtype: object

In [10]:
df3 = sqf_df.loc[:,'arstmade':'frisked'].copy()

In [11]:
df4 = sqf_df.loc[:,'arstmade':'frisked'].copy()

In [12]:
df3.drop(['arstoffn', 'sumissue', 'sumoffen', 'compyear', 'comppct', 'offunif', 'officrid', 'frisked'],inplace=True, axis=1)
df3.head()

  arstmade
0        N
1        N
2        N
3        N
4        N

In [13]:
df4.drop(['arstoffn', 'sumissue', 'sumoffen', 'compyear', 'comppct', 'offunif', 'officrid', 'arstmade'],inplace=True, axis=1)
df4.head()

  frisked
0       Y
1       Y
2       Y
3       N
4       Y

In [14]:
knn_df = pd.concat([df1, df4, df3, df2], axis=1)

In [15]:
knn_df.head()

  sex race age ht_feet ht_inch weight frisked arstmade city
0   M    B  16       5       9    160       Y        N
1   M    B  15       5       8    150       Y        N
2   M    Q  39       5       6    180       Y        N
3   F    Q  20       5       6      0       N        N
4   M    B  19       6       0    155       Y        N

In [16]:
knn_df.city.unique()

array([' '], dtype=object)

In [17]:
knn_df.sex.unique()

array(['M', 'F', 'Z', ' '], dtype=object)

In [18]:
knn_df.race.unique()

array(['B', 'Q', 'I', 'W', 'A', 'Z', ' ', 'P', 'X', 'U'], dtype=object)

In [19]:
knn_df.arstmade.unique()

array(['N', 'Y'], dtype=object)

In [20]:
knn_df.frisked.unique()

array(['Y', 'N'], dtype=object)

In [21]:
knn_df.describe()

           sex    race     age ht_feet ht_inch  weight frisked arstmade
count   160851  160851  160851  160851  160851  160851  160851   160851
unique       4      10     293      14      31     564       2        2
top          M       B      20       5       8     160       N        N
freq    138866   77704   10620  120531   19632   18937   86806   148366

In [22]:
knn_df.weight
for x in knn_df['weight']:
    if x < 100: 
        knn_df['weight'].replace(x, np.nan, inplace=True)
    if x > 300: 
        knn_df['weight'].replace(x, np.nan, inplace=True)

In [23]:
for x in knn_df['age']:
    if x > 99:
        knn_df['age'].replace(x, np.nan, inplace=True)
    if x < 10:
        knn_df['age'].replace(x, np.nan, inplace=True)

In [24]:
knn_df.head()

  sex race  age ht_feet ht_inch  weight frisked arstmade
0   M    B  NaN       5       9     NaN       Y        N
1   M    B  NaN       5       8     NaN       Y        N
2   M    Q  NaN       5       6     NaN       Y        N
3   F    Q  NaN       5       6     NaN       N        N
4   M    B  NaN       6       0     NaN       Y        N

In [25]:
knn_df.describe()

               age       weight
count  7888.000000  7995.000000
mean     27.160751   166.547467
std      12.370871    28.127424
min      11.000000   100.000000
25%      19.000000   150.000000
50%      23.000000   165.000000
75%      33.000000   180.000000
max      99.000000   300.000000

In [26]:
knn_drop_nan = knn_df.copy()
knn_drop_nan.dropna(inplace=True)
knn_drop_nan.reset_index(drop=True)

     sex race   age ht_feet ht_inch  weight frisked arstmade
0      M    B  35.0       5       8   160.0       N        N
1      F    B  25.0       5       3   150.0       N        N
2      M    B  53.0       5      11   140.0       N        N
3      M    B  54.0       6       0   200.0       N        N
4      M    B  28.0       5       8   240.0       Y        Y
5      M    W  21.0       6       0   175.0       Y        N
6      M    B  25.0       5       3   140.0       N        N
7      F    B  36.0       5       4   110.0       N        N
8      F    B  39.0       5       5   130.0       N        N
9      M    W  25.0       5       9   165.0       N        N
10     M    B  22.0       5       8   150.0       Y        N
11     M    B  20.0       5       8   160.0       N        N
12     M    B  31.0       5       8   180.0       Y        N
13     M    P  41.0       5       7   145.0       Y        Y
14     M    Q  23.0       5      10   160.0       Y        N
15     M    A  24.0       6       1   150.0       N        N
16     M    Q  18.0       6       2   200.0       Y        N
17     M    Q  14.0       5       4   125.0       Y        N
18     M    Q  18.0       5      10   170.0       Y        N
19     M    Q  35.0       5       7   170.0       N        N
20     M    Q  25.0       5       4   140.0       N        N
21     F    B  43.0       5       2   110.0       N        N
22     M    B  27.0       5       8   180.0       Y        N
23     M    B  43.0       5      11   180.0       N        N
24     F    B  48.0       5       2   135.0       N        N
25     M    B  49.0       6       0   165.0       N        N
26     M    B  17.0       6       0   180.0       Y        N
27     M    A  37.0       5      10   125.0       N        N
28     F    W  43.0       5       4   130.0       Y        N
29     M    B  50.0       6       1   160.0       Y        N
...   ..  ...   ...     ...     ...     ...     ...      ...
7707   M    B  49.0       5       5   130.0       N        N
7708   M    B  16.0       6       1   190.0       N        N
7709   M    B  37.0       6       2   150.0       Y        Y
7710   M    B  41.0       5       9   150.0       Y        N
7711   M    B  26.0       5      10   165.0       N        N
7712   M    B  40.0       5      11   165.0       N        N
7713   M    W  37.0       5      11   165.0       N        N
7714   M    B  29.0       5       0   145.0       Y        N
7715   M    Q  14.0       5       3   140.0       N        N
7716   M    Q  14.0       5       6   145.0       N        N
7717   M    Q  15.0       5       6   160.0       N        N
7718   M    Q  15.0       5       4   145.0       N        N
7719   M    Q  15.0       5       5   145.0       N        N
7720   M    Q  14.0       5      10   175.0       N        N
7721   M    B  27.0       6       1   190.0       N        N
7722   M    B  29.0       5      10   170.0       Y        N
7723   M    B  21.0       6       2   175.0       Y        N
7724   M    Q  26.0       5      10   200.0       N        N
7725   Z    Z  20.0       5       2   150.0       N        N
7726   M    B  25.0       6       1   175.0       N        N
7727   M    B  19.0       5       9   171.0       Y        N
7728   M    B  47.0       5       6   180.0       N        Y
7729   M    W  20.0       5       8   150.0       N        N
7730   M    W  25.0       6       0   190.0       N        N
7731   M    Q  26.0       5       8   140.0       N        N
7732   M    B  40.0       5      11   165.0       Y        N
7733   M    P  21.0       6       0   170.0       N        N
7734   M    B  24.0       5       7   160.0       N        N
7735   M    B  36.0       5      10   200.0       N        N
7736   M    Q  15.0       5       9   135.0       N        N

[7737 rows x 8 columns]

In [27]:
knn_drop_nan.describe()

               age       weight
count  7737.000000  7737.000000
mean     27.062298   166.580070
std      12.066999    28.046535
min      12.000000   100.000000
25%      19.000000   150.000000
50%      23.000000   165.000000
75%      33.000000   180.000000
max      99.000000   300.000000

In [28]:
knn_drop_nan.columns

Index([u'sex', u'race', u'age', u'ht_feet', u'ht_inch', u'weight', u'frisked',
       u'arstmade'],
      dtype='object')

In [29]:
knn_df_with_labels = knn_drop_nan.copy()

In [30]:
                                #'B', 'Q', 'I', 'W', 'A', 'Z', ' ', 'P', 'X', 'U'
knn_drop_nan.replace(['M', 'F', 'B', 'Q', 'I', 'W', 'A', 'Z', 'P', 'X', 'U',' ', 'BROOKLYN', 'MANHATTAN', 'QUEENS', 'BRONX', 'STATEN IS', 'Y', 'N'], [0., 1., 0., 1., 2., 3., 4., 5., 6., 0., 1., np.nan, 1., 2., 3., 4., 5., 0., 1.], inplace=True)

In [31]:
#Normalized Data
for x in knn_drop_nan.columns:
    i = np.array(knn_drop_nan[x],dtype=float)
    normalized = (i-min(i))/(max(i)-min(i))
    knn_drop_nan.drop(x, axis=1)
    knn_drop_nan[x] = normalized
    print normalized

[ 0.   0.2  0.  ...,  0.   0.   0. ]
[ 0.          0.          0.         ...,  0.          0.          0.16666667]
[ 0.26436782  0.14942529  0.47126437 ...,  0.13793103  0.27586207
  0.03448276]
[ 0.71428571  0.71428571  0.71428571 ...,  0.71428571  0.71428571
  0.71428571]
[ 0.61538462  0.23076923  0.84615385 ...,  0.53846154  0.76923077
  0.69230769]
[ 0.3    0.25   0.2   ...,  0.3    0.5    0.175]
[ 1.  1.  1. ...,  1.  1.  1.]
[ 1.  1.  1. ...,  1.  1.  1.]

In [32]:
knn_drop_nan.describe()

,sex,race,age,ht_feet,ht_inch,weight,frisked,arstmade
count,7737.000000,7737.000000,7737.000000,7737.000000,7737.000000,7737.000000,7737.000000,7737.000000
mean,0.087398,0.237517,0.173130,0.741502,0.482019,0.332900,0.525010,0.931110
std,0.263846,0.324185,0.138701,0.066080,0.267240,0.140233,0.499406,0.253283
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.080460,0.714286,0.307692,0.250000,0.000000,1.000000
50%,0.000000,0.000000,0.126437,0.714286,0.538462,0.325000,1.000000,1.000000
75%,0.000000,0.500000,0.241379,0.714286,0.692308,0.400000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [33]:
knn_drop_nan.index

Int64Index([139264, 139265, 139266, 139267, 139268, 139269, 139270, 139271,
            139272, 139273,
            ...
            147445, 147447, 147448, 147449, 147450, 147451, 147452, 147453,
            147454, 147455],
           dtype='int64', length=7737)

In [34]:
#from sklearn.neighbors import NearestNeighbors

#nn = NearestNeighbors(5)
#nn.fit(knn_drop_nan.loc[:476892,:'city'])

# Year 2003

In [35]:
139264 + 7737

147001

In [36]:
7737 * .2

1547.4

In [37]:
7737 - 1547

6190

In [49]:
from sklearn.neighbors import KNeighborsClassifier
training = knn_drop_nan.loc[:145454,:'weight']
train_label = knn_drop_nan.loc[:145454,'arstmade']
knn = KNeighborsClassifier()
knn.fit(training, train_label) 
testing = knn_drop_nan.loc[145455:147001,:'weight']
predicted = knn.predict(testing)

In [50]:
from sklearn.metrics import accuracy_score
test_label = knn_drop_nan.loc[145455:147001,'arstmade']
acc = accuracy_score(test_label, predicted)

In [51]:
from sklearn.metrics import confusion_matrix
con_mat = confusion_matrix(test_label, predicted, [0, 1])

In [52]:
import math
total_accuracy = (con_mat[0, 0] + con_mat[1, 1]) / float(np.sum(con_mat))
class1_accuracy = (con_mat[0, 0] / float(np.sum(con_mat[0, :])))
class2_accuracy = (con_mat[1, 1] / float(np.sum(con_mat[1, :])))
print('Year 2003 - Arrested')
print(con_mat)
print('Total accuracy: %.5f' % total_accuracy)
print('Class1 accuracy: %.5f' % class1_accuracy)
print('Class2 accuracy: %.5f' % class2_accuracy)
print('Geometric mean accuracy: %.5f' % math.sqrt((class1_accuracy * class2_accuracy)))

Year 2003 - Arrested
[[   0   79]
 [   9 1377]]
Total accuracy: 0.93993
Class1 accuracy: 0.00000
Class2 accuracy: 0.99351
Geometric mean accuracy: 0.00000