# K Nearest Neighbors Predictive Model - 2008
- Stop and Frisk Data

In [1]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
import numpy as np
import os

In [2]:
# Dowloading stop and frisk data
os.system("curl -O http://www.nyc.gov/html/nypd/downloads/zip/analysis_and_planning/2008_sqf_csv.zip")
#os.system("mv nycb2010_16d.zip PUIDATA")
os.system("sudo apt-get install unzip")
#os.getenv("PUIDATA")
os.system("unzip 2008_sqf_csv.zip") # -d" + os.getenv("PUIDATA"))

0

In [3]:
sqf_raw_data = pd.read_csv("2008.csv")
sqf_df = pd.DataFrame(sqf_raw_data)

/Users/christianrosado/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (4,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
sqf_df.head()

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,perstop,typeofid,explnstp,othpers,arstmade,arstoffn,sumissue,sumoffen,compyear,comppct,offunif,officrid,frisked,searched,contrabn,adtlrept,pistol,riflshot,asltweap,knifcuti,machgun,othrweap,pf_hands,pf_wall,pf_grnd,pf_drwep,pf_ptwep,pf_baton,pf_hcuff,pf_pepsp,pf_other,radio,ac_rept,ac_inves,rf_vcrim,rf_othsw,ac_proxm,rf_attir,cs_objcs,cs_descr,cs_casng,cs_lkout,rf_vcact,cs_cloth,cs_drgtr,ac_evasv,ac_assoc,cs_furtv,rf_rfcmp,ac_cgdir,rf_verbl,cs_vcrim,cs_bulge,cs_other,ac_incid,ac_time,rf_knowl,ac_stsnd,ac_other,sb_hdobj,sb_outln,sb_admis,sb_other,repcmd,revcmd,rf_furt,rf_bulg,offverb,offshld,sex,race,dob,age,ht_feet,ht_inch,weight,haircolr,eyecolor,build,othfeatr,addrtyp,rescode,premtype,premname,addrnum,stname,stinter,crossst,aptnum,city,state,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,2008,42,1044,1012008,130,A,O,,20.0,FEL,10,P,Y,N,N,,Y,TRESPASS,0,0,N,,Y,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,Y,N,N,Y,N,Y,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,44,44,Y,N,,S,M,B,12061987,20,6,0,161,BR,BR,U,,L,,,,,EAST 170 STREET,CONRAIL RAILROAD,WEBSTER AVENUE,,BRONX,,,42,B,,,1009873,0243953,CM,1,20
1,2008,108,3,1012008,2010,A,I,,1.0,BURGLARY,5,O,Y,N,N,,N,,0,0,Y,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,108,108,N,N,,,M,Q,12311900,25,5,7,190,BR,BR,H,,L,,,COMMERCIAL BUILDING,29-10,THOMSON AVENUE,SKILLMAN AVENUE,COURT SQUARE NORTH,,QUEENS,,,108,B,,,1001546,0210784,CM,1,14
2,2008,100,15,1082008,100,A,O,H,2.0,ROBBERY,10,P,Y,N,N,,N,,0,0,Y,,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,Y,N,Y,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,101,101,N,N,,,M,B,1231989,18,6,0,180,BR,BR,M,,L,,,,107,BEACH 59 STREET,LARKIN AVENUE,BOARDWALK,,QUEENS,,,100,B,2,,1042944,0154180,CM,1,85
3,2008,103,210,1082008,1905,A,O,,2.0,ROBBERY,3,V,Y,N,N,,N,,0,0,N,,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,Y,N,Y,Y,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,105,105,Y,N,V,S,M,B,10241984,23,6,1,185,BK,BK,M,,L,,,,,,HOLLIS AVENUE,109 AVENUE,,QUEENS,,,103,J,16,,1050245,0196802,CM,1,85
4,2008,71,90,1122008,2125,A,I,H,5.0,CRIM-TRES,10,P,Y,N,N,,N,,0,0,Y,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,Y,Y,Y,N,N,N,N,N,N,N,824,824,N,N,,,M,B,6131993,14,5,9,145,BK,BR,T,,L,,,HALLWAY 4TH FLOOR,542,FLATBUSH AVENUE,LINCOLN ROAD,BEEKMAN PLACE,,BROOKLYN,,,71,C,5,PP,0995112,0180043,CM,1,31

In [6]:
features = ['sex', 'race', 'age', 'ht_feet', 'ht_inch', 'weight', 'frisked'] 
clasifier = ['arstmade']

In [7]:
df1 = sqf_df.loc[:,'sex':'weight'].copy()

In [8]:
df2 = sqf_df.loc[:,'city'].copy()

In [9]:
df1.drop(['dob'],inplace=True, axis=1)
df1.head()

  sex race  age  ht_feet  ht_inch  weight
0   M    B   20        6        0     161
1   M    Q   25        5        7     190
2   M    B   18        6        0     180
3   M    B   23        6        1     185
4   M    B   14        5        9     145

In [10]:
df2.head()

0       BRONX
1      QUEENS
2      QUEENS
3      QUEENS
4    BROOKLYN
Name: city, dtype: object

In [11]:
df3 = sqf_df.loc[:,'arstmade':'frisked'].copy()

In [12]:
df4 = sqf_df.loc[:,'arstmade':'frisked'].copy()

In [13]:
df3.drop(['arstoffn', 'sumissue', 'sumoffen', 'compyear', 'comppct', 'offunif', 'officrid', 'frisked'],inplace=True, axis=1)
df3.head()

  arstmade
0        N
1        N
2        N
3        N
4        N

In [14]:
df4.drop(['arstoffn', 'sumissue', 'sumoffen', 'compyear', 'comppct', 'offunif', 'officrid', 'arstmade'],inplace=True, axis=1)
df4.head()

  frisked
0       Y
1       N
2       Y
3       Y
4       N

In [15]:
knn_df = pd.concat([df1, df2, df4, df3], axis=1)

In [16]:
knn_df.head()

  sex race  age  ht_feet  ht_inch  weight      city frisked arstmade
0   M    B   20        6        0     161     BRONX       Y        N
1   M    Q   25        5        7     190    QUEENS       N        N
2   M    B   18        6        0     180    QUEENS       Y        N
3   M    B   23        6        1     185    QUEENS       Y        N
4   M    B   14        5        9     145  BROOKLYN       N        N

In [17]:
knn_df.city.unique()

array(['BRONX', 'QUEENS', 'BROOKLYN', 'MANHATTAN', 'STATEN ISLAND', ' '], dtype=object)

In [18]:
knn_df.sex.unique()

array(['M', 'F', 'Z'], dtype=object)

In [19]:
knn_df.race.unique()

array(['B', 'Q', 'P', 'W', 'Z', 'A', 'I', 'U'], dtype=object)

In [20]:
knn_df.arstmade.unique()

array(['N', 'Y'], dtype=object)

In [21]:
knn_df.frisked.unique()

array(['Y', 'N'], dtype=object)

In [22]:
knn_df.describe()

                 age        ht_feet        ht_inch         weight
count  540302.000000  540302.000000  540302.000000  540302.000000
mean       28.850732       5.187769       6.351348     169.443324
std        22.159745       0.404656       3.398894      40.124727
min         0.000000       3.000000       0.000000       0.000000
25%        19.000000       5.000000       4.000000     150.000000
50%        25.000000       5.000000       7.000000     170.000000
75%        35.000000       5.000000       9.000000     180.000000
max       999.000000       7.000000      11.000000    1710.000000

In [23]:
knn_df.weight
for x in knn_df['weight']:
    if x < 100: 
        knn_df['weight'].replace(x, np.nan, inplace=True)
    if x > 300: 
        knn_df['weight'].replace(x, np.nan, inplace=True)

In [24]:
for x in knn_df['age']:
    if x > 99:
        knn_df['age'].replace(x, np.nan, inplace=True)
    if x < 10:
        knn_df['age'].replace(x, np.nan, inplace=True)

In [25]:
knn_df.head()

  sex race   age  ht_feet  ht_inch  weight      city frisked arstmade
0   M    B  20.0        6        0   161.0     BRONX       Y        N
1   M    Q  25.0        5        7   190.0    QUEENS       N        N
2   M    B  18.0        6        0   180.0    QUEENS       Y        N
3   M    B  23.0        6        1   185.0    QUEENS       Y        N
4   M    B  14.0        5        9   145.0  BROOKLYN       N        N

In [26]:
knn_df.describe()

                 age        ht_feet        ht_inch         weight
count  538357.000000  540302.000000  540302.000000  537052.000000
mean       28.343172       5.187769       6.351348     168.754864
std        11.997137       0.404656       3.398894      27.716391
min        10.000000       3.000000       0.000000     100.000000
25%        19.000000       5.000000       4.000000     150.000000
50%        25.000000       5.000000       7.000000     170.000000
75%        35.000000       5.000000       9.000000     180.000000
max        99.000000       7.000000      11.000000     300.000000

In [27]:
knn_drop_nan = knn_df.copy()
knn_drop_nan.dropna(inplace=True)
knn_drop_nan.reset_index(drop=True)

,sex,race,age,ht_feet,ht_inch,weight,city,frisked,arstmade
0,M,B,20.0,6,0,161.0,BRONX,Y,N
1,M,Q,25.0,5,7,190.0,QUEENS,N,N
2,M,B,18.0,6,0,180.0,QUEENS,Y,N
3,M,B,23.0,6,1,185.0,QUEENS,Y,N
4,M,B,14.0,5,9,145.0,BROOKLYN,N,N
5,M,B,32.0,5,7,185.0,MANHATTAN,N,N
6,M,B,44.0,6,0,200.0,MANHATTAN,N,N
7,M,Q,99.0,5,8,150.0,MANHATTAN,N,N
8,M,B,40.0,5,10,200.0,MANHATTAN,N,N
9,M,Q,23.0,6,3,290.0,BROOKLYN,N,N
10,F,B,27.0,5,6,140.0,MANHATTAN,N,N
11,M,B,25.0,5,11,160.0,BROOKLYN,N,N
12,M,B,29.0,5,6,140.0,MANHATTAN,Y,Y
13,M,P,14.0,6,0,140.0,MANHATTAN,Y,N
14,M,B,42.0,5,7,170.0,MANHATTAN,N,N
15,M,B,18.0,5,10,160.0,MANHATTAN,N,N
16,M,B,17.0,5,9,145.0,MANHATTAN,Y,N
17,M,Q,22.0,5,4,165.0,MANHATTAN,N,N
18,M,B,20.0,5,9,160.0,MANHATTAN,Y,N
19,M,B,42.0,6,0,185.0,MANHATTAN,Y,N
20,M,W,20.0,5,7,160.0,QUEENS,N,N
21,M,P,22.0,5,6,180.0,MANHATTAN,N,N
22,M,B,45.0,5,10,220.0,MANHATTAN,N,N
23,M,Q,35.0,5,10,240.0,BROOKLYN,Y,N
24,M,B,36.0,5,10,160.0,MANHATTAN,Y,N
25,M,B,19.0,5,8,180.0,MANHATTAN,Y,N
26,M,B,24.0,5,8,125.0,QUEENS,Y,N
27,M,W,25.0,6,0,170.0,BROOKLYN,N,N
28,F,B,51.0,5,7,170.0,BROOKLYN,N,N
29,M,Q,17.0,5,9,140.0,MANHATTAN,Y,N
...,...,...,...,...,...,...,...,...,...
535173,M,Q,23.0,5,11,175.0,BRONX,Y,N
535174,M,Q,21.0,5,11,200.0,BRONX,N,N
535175,M,B,16.0,5,6,150.0,BRONX,Y,N
535176,M,B,22.0,6,4,180.0,BROOKLYN,Y,N
535177,M,B,20.0,6,0,165.0,BROOKLYN,Y,N
535178,M,Q,25.0,5,10,160.0,QUEENS,Y,N
535179,M,U,32.0,5,11,150.0,BRONX,N,N
535180,M,W,52.0,6,0,190.0,MANHATTAN,N,N
535181,M,B,25.0,5,5,160.0,BROOKLYN,N,N
535182,M,B,31.0,6,0,120.0,BROOKLYN,Y,N
535183,M,B,33.0,5,10,230.0,BROOKLYN,Y,N
535184,M,B,37.0,5,10,198.0,BROOKLYN,Y,N
535185,M,Z,33.0,6,2,258.0,BROOKLYN,Y,N
535186,M,A,22.0,5,11,210.0,MANHATTAN,Y,N
535187,M,B,16.0,5,9,135.0,BROOKLYN,Y,N
535188,M,B,18.0,6,0,200.0,BRONX,Y,N
535189,M,B,16.0,5,8,130.0,BROOKLYN,Y,N
535190,M,Z,18.0,5,11,198.0,BROOKLYN,Y,N
535191,M,B,28.0,5,4,200.0,BROOKLYN,Y,N
535192,M,B,40.0,6,2,180.0,BROOKLYN,N,N
535193,M,B,19.0,5,6,160.0,BROOKLYN,Y,N
535194,M,B,25.0,5,8,220.0,MANHATTAN,Y,N
535195,M,B,19.0,5,9,160.0,STATEN ISLAND,N,N
535196,F,B,18.0,5,3,120.0,BROOKLYN,N,N
535197,M,B,22.0,5,7,150.0,BRONX,Y,N
535198,M,B,25.0,6,3,230.0,STATEN ISLAND,N,N
535199,M,P,20.0,5,4,160.0,BROOKLYN,Y,N
535200,M,Z,16.0,6,0,160.0,BRONX,Y,N
535201,F,W,17.0,5,0,105.0,QUEENS,N,N
535202,M,B,46.0,6,2,210.0,QUEENS,Y,N

In [28]:
knn_drop_nan.describe()

                 age        ht_feet        ht_inch         weight
count  535203.000000  535203.000000  535203.000000  535203.000000
mean       28.337704       5.188101       6.357533     168.757139
std        11.963172       0.401160       3.396091      27.715463
min        10.000000       3.000000       0.000000     100.000000
25%        19.000000       5.000000       4.000000     150.000000
50%        25.000000       5.000000       7.000000     170.000000
75%        35.000000       5.000000       9.000000     180.000000
max        99.000000       7.000000      11.000000     300.000000

In [29]:
knn_drop_nan.columns

Index([u'sex', u'race', u'age', u'ht_feet', u'ht_inch', u'weight', u'city',
       u'frisked', u'arstmade'],
      dtype='object')

In [30]:
knn_df_with_labels = knn_drop_nan.copy()

In [30]:
                                #['B', 'Q', 'P', 'W', 'Z', 'A', 'I', 'U']
knn_drop_nan.replace(['M', 'F', 'B', 'P', 'Z', 'Q', 'W', 'A', 'I', 'U', ' ', 'BROOKLYN', 'MANHATTAN', 'QUEENS', 'BRONX', 'STATEN ISLAND', 'Y', 'N'], [0., 1., 0., 1., 2., 3., 4., 5., 6., 7., np.nan, 1., 2., 3., 4., 5., 0., 1.], inplace=True)

In [31]:
#Normalized Data
for x in knn_drop_nan.columns:
    i = np.array(knn_drop_nan[x],dtype=float)
    normalized = (i-min(i))/(max(i)-min(i))
    knn_drop_nan.drop(x, axis=1)
    knn_drop_nan[x] = normalized
    print normalized

[ 0.   0.   0.  ...,  0.   0.5  0. ]
[ 0.          0.42857143  0.         ...,  0.28571429  0.57142857  0.        ]
[ 0.11235955  0.16853933  0.08988764 ...,  0.06741573  0.07865169
  0.40449438]
[ 0.75  0.5   0.75 ...,  0.75  0.5   0.75]
[ 0.          0.63636364  0.         ...,  0.          0.          0.18181818]
[ 0.305  0.45   0.4   ...,  0.3    0.025  0.55 ]
[ 0.75  0.5   0.5  ...,  0.75  0.5   0.5 ]
[ 0.  1.  0. ...,  0.  1.  0.]
[ 1.  1.  1. ...,  1.  1.  1.]

In [32]:
knn_drop_nan.describe()

,sex,race,age,ht_feet,ht_inch,weight,city,frisked,arstmade
count,535203.000000,535203.000000,535203.000000,535203.000000,535203.000000,535203.000000,535188.000000,535203.000000,535203.000000
mean,0.055716,0.217520,0.206042,0.547025,0.577958,0.343786,0.341267,0.455543,0.940413
std,0.185671,0.249069,0.134418,0.100290,0.308736,0.138577,0.315892,0.498020,0.236720
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.101124,0.500000,0.363636,0.250000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,0.168539,0.500000,0.636364,0.350000,0.250000,0.000000,1.000000
75%,0.000000,0.428571,0.280899,0.500000,0.818182,0.400000,0.500000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [33]:
knn_drop_nan.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            540292, 540293, 540294, 540295, 540296, 540297, 540298, 540299,
            540300, 540301],
           dtype='int64', length=535203)

# Year 2008

In [34]:
knn_drop_nan.dropna(axis=0, inplace=True)

In [40]:
from sklearn.model_selection import train_test_split
X = knn_drop_nan.loc[:,:'weight']
y = knn_drop_nan.loc[:,'arstmade']
training, testing, train_label, test_label = train_test_split(X, y, test_size=0.20, random_state=42)

In [41]:
from sklearn.neighbors import KNeighborsClassifier
#training = knn_drop_nan.loc[:231096,:'frisked']
#train_label = knn_drop_nan.loc[:231096,'arstmade']
knn = KNeighborsClassifier()
knn.fit(training, train_label) 
#testing = knn_drop_nan.loc[231097:288870,:'frisked']
predicted = knn.predict(testing)

In [42]:
from sklearn.metrics import accuracy_score
#test_label = knn_drop_nan.loc[231097:288870,'arstmade']
acc = accuracy_score(test_label, predicted)

In [43]:
from sklearn.metrics import confusion_matrix
con_mat = confusion_matrix(test_label, predicted, [0, 1])

In [44]:
import math
total_accuracy = (con_mat[0, 0] + con_mat[1, 1]) / float(np.sum(con_mat))
class1_accuracy = (con_mat[0, 0] / float(np.sum(con_mat[0, :])))
class2_accuracy = (con_mat[1, 1] / float(np.sum(con_mat[1, :])))
print('Year 2008 - Arrested')
print(con_mat)
print('Total accuracy: %.5f' % total_accuracy)
print('Class1 accuracy: %.5f' % class1_accuracy)
print('Class2 accuracy: %.5f' % class2_accuracy)
print('Geometric mean accuracy: %.5f' % math.sqrt((class1_accuracy * class2_accuracy)))

Year 2008 - Arrested
[[    18   6208]
 [   234 100578]]
Total accuracy: 0.93982
Class1 accuracy: 0.00289
Class2 accuracy: 0.99768
Geometric mean accuracy: 0.05371