# K Nearest Neighbors Predictive Model - 2005
- Stop and Frisk Data

In [10]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
import numpy as np
import os

In [2]:
# Dowloading stop and frisk data
os.system("curl -O http://www.nyc.gov/html/nypd/downloads/zip/analysis_and_planning/2005_sqf_csv.zip")
#os.system("mv nycb2010_16d.zip PUIDATA")
os.system("sudo apt-get install unzip")
#os.getenv("PUIDATA")
os.system("unzip 2005_sqf_csv.zip") # -d" + os.getenv("PUIDATA"))

0

In [3]:
sqf_raw_data = pd.read_csv("2005.csv")
sqf_df = pd.DataFrame(sqf_raw_data)

/Users/christianrosado/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (73,74,81,82,83,84,85,107,109,110) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
pd.set_option('display.max_columns', None)

In [12]:
sqf_df.head()

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,perstop,typeofid,explnstp,othpers,arstmade,arstoffn,sumissue,sumoffen,compyear,comppct,offunif,officrid,frisked,searched,contrabn,adtlrept,pistol,riflshot,asltweap,knifcuti,machgun,othrweap,pf_hands,pf_wall,pf_grnd,pf_drwep,pf_ptwep,pf_baton,pf_hcuff,pf_pepsp,pf_other,radio,ac_rept,ac_inves,rf_vcrim,rf_othsw,ac_proxm,rf_attir,cs_objcs,cs_descr,cs_casng,cs_lkout,rf_vcact,cs_cloth,cs_drgtr,ac_evasv,ac_assoc,cs_furtv,rf_rfcmp,ac_cgdir,rf_verbl,cs_vcrim,cs_bulge,cs_other,ac_incid,ac_time,rf_knowl,ac_stsnd,ac_other,sb_hdobj,sb_outln,sb_admis,sb_other,repcmd,revcmd,rf_furt,rf_bulg,offverb,offshld,sex,race,dob,age,ht_feet,ht_inch,weight,haircolr,eyecolor,build,othfeatr,sector,beat,post,xcoord,ycoord,addrtyp,rescode,premtype,premname,addrnum,stname,stinter,crossst,aptnum,city,state,zip,addrpct,dettypcm,linecm,detailcm
0,2005,122,1,1012005,1210,A,I,,1.0,CRIMINAL TRESS,5,V,Y,N,N,,N,,0,0,Y,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,Y,N,N,N,N,N,070,122,N,N,,,M,B,7281976,28,6,3,200,BK,BR,M,,,,,,,L,,,SI MALL,2655,RICHMOND AVENUE,RICHMOND HILL ROAD,,,STATEN ISLAND,,,122,CM,1,31
1,2005,122,2,1012005,1825,A,O,,3.0,FELONY,2,V,Y,N,N,,N,,0,0,Y,,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,Y,N,N,N,N,Y,N,N,N,N,Y,N,N,N,N,122,122,N,N,,,M,Z,10041958,44,5,10,184,BK,BR,M,,,,,,,L,,,,,,VICTORY BOULEVARD,,,STATEN ISLAND,,,122,CM,1,20
2,2005,120,3,4212005,0200,A,O,,5.0,FEL,5,V,Y,Y,N,,N,,0,0,Y,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,120,120,N,N,,,M,Q,12121987,23,5,5,150,BK,BR,T,,,,,,,L,,,STREET,,,CANAL STREET,,,STATEN ISLAND,,,120,CM,1,46
3,2005,122,6,12112005,1755,A,O,,2.0,GRAND LARCENY AUTO,10,V,Y,N,N,,N,,0,0,Y,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,Y,Y,N,N,N,N,N,N,N,122,122,N,N,,,M,Q,7081979,26,6,0,160,BK,BR,T,,,,,,,L,,,MALL PARKING LOT,2655,RICHMOND AVENUE,RICHMOND HILL ROAD,,,STATEN ISLAND,,,122,CM,1,46
4,2005,122,3,12132005,1400,A,O,,1.0,BURGLARY,5,P,Y,N,N,,N,,0,0,Y,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,Y,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,122,122,N,N,,,F,Z,2121957,48,5,0,140,BR,BR,T,,,,,,,L,,,,199,BACHE AVENUE,CLAWSON STREET,,,STATEN ISLAND,,,122,CM,1,14

In [13]:
features = ['sex', 'race', 'age', 'ht_feet', 'ht_inch', 'weight', 'frisked'] 
clasifier = ['arstmade']

In [14]:
df1 = sqf_df.loc[:,'sex':'weight'].copy()

In [16]:
df2 = sqf_df.loc[:,'city'].copy()

In [17]:
df1.drop(['dob'],inplace=True, axis=1)
df1.head()

  sex race age ht_feet ht_inch weight
0   M    B  28       6       3    200
1   M    Z  44       5      10    184
2   M    Q  23       5       5    150
3   M    Q  26       6       0    160
4   F    Z  48       5       0    140

In [18]:
df2.head()

0    STATEN ISLAND
1    STATEN ISLAND
2    STATEN ISLAND
3    STATEN ISLAND
4    STATEN ISLAND
Name: city, dtype: object

In [19]:
df3 = sqf_df.loc[:,'arstmade':'frisked'].copy()

In [20]:
df4 = sqf_df.loc[:,'arstmade':'frisked'].copy()

In [21]:
df3.drop(['arstoffn', 'sumissue', 'sumoffen', 'compyear', 'comppct', 'offunif', 'officrid', 'frisked'],inplace=True, axis=1)
df3.head()

  arstmade
0        N
1        N
2        N
3        N
4        N

In [22]:
df4.drop(['arstoffn', 'sumissue', 'sumoffen', 'compyear', 'comppct', 'offunif', 'officrid', 'arstmade'],inplace=True, axis=1)
df4.head()

  frisked
0       N
1       Y
2       N
3       N
4       N

In [23]:
knn_df = pd.concat([df1, df2, df4, df3], axis=1)

In [24]:
knn_df.head()

  sex race age ht_feet ht_inch weight           city frisked arstmade
0   M    B  28       6       3    200  STATEN ISLAND       N        N
1   M    Z  44       5      10    184  STATEN ISLAND       Y        N
2   M    Q  23       5       5    150  STATEN ISLAND       N        N
3   M    Q  26       6       0    160  STATEN ISLAND       N        N
4   F    Z  48       5       0    140  STATEN ISLAND       N        N

In [25]:
knn_df.city.unique()

array(['STATEN ISLAND', 'QUEENS', 'MANHATTAN', 'BROOKLYN', 'BRONX', ' '], dtype=object)

In [26]:
knn_df.sex.unique()

array(['M', 'F', 'Z', ' '], dtype=object)

In [27]:
knn_df.race.unique()

array(['B', 'Z', 'Q', 'W', 'A', 'P', 'I', 'U', ' ', 'X'], dtype=object)

In [28]:
knn_df.arstmade.unique()

array(['N', 'Y'], dtype=object)

In [29]:
knn_df.frisked.unique()

array(['N', 'Y'], dtype=object)

In [30]:
knn_df.describe()

,sex,race,age,ht_feet,ht_inch,weight,city,frisked,arstmade
count,398191,398191,398191,398191,398191,398191,398191,398191,398191
unique,4,10,172,16,44,512,6,2,2
top,M,B,20,5,8,160,,N,N
freq,343768,196570,22664,309647,50656,48075,334046,230298,379128

In [31]:
knn_df.weight
for x in knn_df['weight']:
    if x < 100: 
        knn_df['weight'].replace(x, np.nan, inplace=True)
    if x > 300: 
        knn_df['weight'].replace(x, np.nan, inplace=True)

In [32]:
for x in knn_df['age']:
    if x > 99:
        knn_df['age'].replace(x, np.nan, inplace=True)
    if x < 10:
        knn_df['age'].replace(x, np.nan, inplace=True)

In [33]:
knn_df.head()

  sex race   age ht_feet ht_inch  weight           city frisked arstmade
0   M    B  28.0       6       3   200.0  STATEN ISLAND       N        N
1   M    Z  44.0       5      10   184.0  STATEN ISLAND       Y        N
2   M    Q  23.0       5       5   150.0  STATEN ISLAND       N        N
3   M    Q  26.0       6       0   160.0  STATEN ISLAND       N        N
4   F    Z  48.0       5       0   140.0  STATEN ISLAND       N        N

In [34]:
knn_df.describe()

                 age         weight
count  368647.000000  379243.000000
mean       27.878540     166.846006
std        11.605461      27.755384
min        10.000000     100.000000
25%        19.000000     150.000000
50%        24.000000     165.000000
75%        35.000000     180.000000
max        99.000000     300.000000

In [35]:
knn_drop_nan = knn_df.copy()
knn_drop_nan.dropna(inplace=True)
knn_drop_nan.reset_index(drop=True)

       sex race   age ht_feet ht_inch  weight           city frisked arstmade
0        M    B  28.0       6       3   200.0  STATEN ISLAND       N        N
1        M    Z  44.0       5      10   184.0  STATEN ISLAND       Y        N
2        M    Q  23.0       5       5   150.0  STATEN ISLAND       N        N
3        M    Q  26.0       6       0   160.0  STATEN ISLAND       N        N
4        F    Z  48.0       5       0   140.0  STATEN ISLAND       N        N
5        M    B  27.0       5       4   160.0  STATEN ISLAND       N        N
6        M    B  42.0       5       9   190.0  STATEN ISLAND       N        N
7        M    W  18.0       5      10   175.0  STATEN ISLAND       N        N
8        M    W  18.0       5      11   210.0  STATEN ISLAND       N        N
9        M    W  28.0       5      10   210.0  STATEN ISLAND       N        N
10       M    W  17.0       5       6   135.0  STATEN ISLAND       N        N
11       M    W  28.0       5       7   160.0  STATEN ISLAND       Y        N
12       M    B  58.0       5       7   130.0  STATEN ISLAND       N        N
13       M    B  40.0       6       0   160.0         QUEENS       Y        N
14       M    B  35.0       6       0   300.0         QUEENS       Y        N
15       M    B  22.0       6       0   300.0         QUEENS       Y        N
16       M    W  56.0       5       8   155.0         QUEENS       N        N
17       M    A  20.0       5       7   160.0         QUEENS       N        N
18       M    A  20.0       5       4   150.0         QUEENS       N        N
19       M    A  20.0       5       3   130.0         QUEENS       N        N
20       M    W  23.0       5       7   150.0         QUEENS       N        N
21       M    Z  18.0       6       0   200.0         QUEENS       N        N
22       M    Z  26.0       5       9   200.0         QUEENS       Y        N
23       M    B  19.0       5       9   150.0         QUEENS       Y        N
24       M    B  26.0       6       2   180.0         QUEENS       Y        N
25       M    Q  24.0       5       8   160.0         QUEENS       N        N
26       M    Q  25.0       5      11   170.0         QUEENS       Y        Y
27       M    B  49.0       6       0   215.0         QUEENS       Y        N
28       M    Q  23.0       5       8   170.0         QUEENS       Y        N
29       M    Q  27.0       5      10   175.0         QUEENS       N        N
...     ..  ...   ...     ...     ...     ...            ...     ...      ...
360160   M    B  17.0       5       6   150.0                      N        N
360161   M    B  15.0       5       7   145.0                      N        N
360162   F    B  26.0       5       5   160.0                      N        N
360163   M    B  32.0       6       2   190.0                      N        N
360164   M    Q  23.0       5       4   150.0                      Y        N
360165   M    B  16.0       5       8   170.0                      N        N
360166   Z    Z  26.0       5       8   160.0                      N        N
360167   M    B  30.0       5       2   165.0                      N        N
360168   M    B  29.0       5       7   170.0                      N        N
360169   M    B  26.0       5       9   168.0                      N        N
360170   M    W  52.0       5       4   150.0                      N        N
360171   M    B  36.0       6       1   230.0                      Y        Y
360172   M    B  31.0       5       0   200.0                      N        N
360173   M    Q  29.0       6       0   195.0                      N        N
360174   M    Z  47.0       5      10   170.0                      N        N
360175   M    Q  26.0       6       0   150.0                      Y        N
360176   M    Q  25.0       5       5   170.0                      Y        N
360177   M    B  40.0       5       6   150.0                      Y        N
360178   M    B  15.0       5       6   160.0                      Y        Y
360179   M    B  36.0       6       1   205.0                      N        N
360180   M    B  20.0       6       1   240.0                      Y        N
360181   M    Q  20.0       5       6   160.0                      Y        N
360182   M    Q  52.0       5       9   180.0                      N        N
360183   M    B  14.0       5       6   140.0                      N        N
360184   M    B  57.0       6       1   189.0                      N        N
360185   M    P  30.0       5       6   175.0                      N        N
360186   M    Q  36.0       5       8   150.0                      N        N
360187   M    B  23.0       5       3   160.0                      Y        N
360188   M    B  17.0       6       0   180.0                      Y        N
360189   Z    B  20.0       5      11   180.0                      Y        N

[360190 rows x 9 columns]

In [36]:
knn_drop_nan.describe()

                 age         weight
count  360190.000000  360190.000000
mean       27.890263     166.714009
std        11.586235      27.724962
min        10.000000     100.000000
25%        19.000000     150.000000
50%        24.000000     165.000000
75%        35.000000     180.000000
max        99.000000     300.000000

In [37]:
knn_drop_nan.columns

Index([u'sex', u'race', u'age', u'ht_feet', u'ht_inch', u'weight', u'city',
       u'frisked', u'arstmade'],
      dtype='object')

In [38]:
knn_df_with_labels = knn_drop_nan.copy()

In [41]:
                                #['B', 'Z', 'Q', 'W', 'A', 'P', 'I', 'U', ' ', 'X']
knn_drop_nan.replace(['M', 'F', 'B', 'Z', 'Q', 'W', 'A', 'P', 'I', 'U', 'X', ' ', 'BROOKLYN', 'MANHATTAN', 'QUEENS', 'BRONX', 'STATEN ISLAND', 'Y', 'N'], [0., 1., 0., 1., 2., 3., 4., 5., 6., 7., 8., np.nan, 1., 2., 3., 4., 5., 0., 1.], inplace=True)

In [42]:
#Normalized Data
for x in knn_drop_nan.columns:
    i = np.array(knn_drop_nan[x],dtype=float)
    normalized = (i-min(i))/(max(i)-min(i))
    knn_drop_nan.drop(x, axis=1)
    knn_drop_nan[x] = normalized
    print normalized

[ 0.  0.  0. ...,  0.  0.  1.]
[ 0.     0.125  0.25  ...,  0.     0.     0.   ]
[ 0.20224719  0.38202247  0.14606742 ...,  0.14606742  0.07865169
  0.11235955]
[ 0.66666667  0.55555556  0.55555556 ...,  0.55555556  0.66666667
  0.55555556]
[ 0.03409091  0.11363636  0.05681818 ...,  0.03409091  0.          0.125     ]
[ 0.5   0.42  0.25 ...,  0.3   0.4   0.4 ]
[  1.   1.   1. ...,  nan  nan  nan]
[ 1.  0.  1. ...,  0.  0.  0.]
[ 1.  1.  1. ...,  1.  1.  1.]

In [43]:
knn_drop_nan.describe()

,sex,race,age,ht_feet,ht_inch,weight,city,frisked,arstmade
count,360190.000000,360190.000000,360190.000000,360190.000000,360190.000000,360190.000000,62607.000000,360190.000000,360190.000000
mean,0.133071,0.158485,0.201014,0.576114,0.071509,0.333570,0.042435,0.577842,0.950751
std,0.339652,0.189966,0.130182,0.049276,0.039154,0.138625,0.147865,0.493904,0.216388
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.101124,0.555556,0.045455,0.250000,0.000000,0.000000,1.000000
50%,0.000000,0.125000,0.157303,0.555556,0.079545,0.325000,0.000000,1.000000,1.000000
75%,0.000000,0.250000,0.280899,0.555556,0.102273,0.400000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [44]:
knn_drop_nan.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            398180, 398181, 398182, 398183, 398184, 398185, 398186, 398188,
            398189, 398190],
           dtype='int64', length=360190)

# Year 2005

In [45]:
knn_drop_nan.dropna(axis=0, inplace=True)

In [51]:
from sklearn.model_selection import train_test_split
X = knn_drop_nan.loc[:,:'weight']
y = knn_drop_nan.loc[:,'arstmade']
training, testing, train_label, test_label = train_test_split(X, y, test_size=0.20, random_state=42)

In [52]:
from sklearn.neighbors import KNeighborsClassifier
#training = knn_drop_nan.loc[:231096,:'frisked']
#train_label = knn_drop_nan.loc[:231096,'arstmade']
knn = KNeighborsClassifier()
knn.fit(training, train_label) 
#testing = knn_drop_nan.loc[231097:288870,:'frisked']
predicted = knn.predict(testing)

In [53]:
from sklearn.metrics import accuracy_score
#test_label = knn_drop_nan.loc[231097:288870,'arstmade']
acc = accuracy_score(test_label, predicted)

In [54]:
from sklearn.metrics import confusion_matrix
con_mat = confusion_matrix(test_label, predicted, [0, 1])

In [55]:
import math
total_accuracy = (con_mat[0, 0] + con_mat[1, 1]) / float(np.sum(con_mat))
class1_accuracy = (con_mat[0, 0] / float(np.sum(con_mat[0, :])))
class2_accuracy = (con_mat[1, 1] / float(np.sum(con_mat[1, :])))
print('Year 2005 - Arrest')
print(con_mat)
print('Total accuracy: %.5f' % total_accuracy)
print('Class1 accuracy: %.5f' % class1_accuracy)
print('Class2 accuracy: %.5f' % class2_accuracy)
print('Geometric mean accuracy: %.5f' % math.sqrt((class1_accuracy * class2_accuracy)))

Year 2005 - Arrest
[[    0   339]
 [    5 12178]]
Total accuracy: 0.97253
Class1 accuracy: 0.00000
Class2 accuracy: 0.99959
Geometric mean accuracy: 0.00000