# K Nearest Neighbors Predictive Model - 2004
- Stop and Frisk Data

In [2]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
import numpy as np
import os

In [2]:
# Dowloading stop and frisk data
os.system("curl -O http://www.nyc.gov/html/nypd/downloads/zip/analysis_and_planning/2004_sqf_csv.zip")
#os.system("mv nycb2010_16d.zip PUIDATA")
os.system("sudo apt-get install unzip")
#os.getenv("PUIDATA")
os.system("unzip 2004_sqf_csv.zip") # -d" + os.getenv("PUIDATA"))

0

In [3]:
sqf_raw_data = pd.read_csv("2004.csv")
sqf_df = pd.DataFrame(sqf_raw_data)

/Users/christianrosado/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4,102,109,110) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
sqf_df.head()

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,perstop,typeofid,explnstp,othpers,arstmade,arstoffn,sumissue,sumoffen,compyear,comppct,offunif,officrid,frisked,searched,contrabn,adtlrept,pistol,riflshot,asltweap,knifcuti,machgun,othrweap,pf_hands,pf_wall,pf_grnd,pf_drwep,pf_ptwep,pf_baton,pf_hcuff,pf_pepsp,pf_other,radio,ac_rept,ac_inves,rf_vcrim,rf_othsw,ac_proxm,rf_attir,cs_objcs,cs_descr,cs_casng,cs_lkout,rf_vcact,cs_cloth,cs_drgtr,ac_evasv,ac_assoc,cs_furtv,rf_rfcmp,ac_cgdir,rf_verbl,cs_vcrim,cs_bulge,cs_other,ac_incid,ac_time,rf_knowl,ac_stsnd,ac_other,sb_hdobj,sb_outln,sb_admis,sb_other,repcmd,revcmd,rf_furt,rf_bulg,offverb,offshld,sex,race,dob,age,ht_feet,ht_inch,weight,haircolr,eyecolor,build,othfeatr,addrtyp,rescode,premtype,premname,addrnum,stname,stinter,crossst,aptnum,city,state,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,2004,6,6840,6052004,00:10,A,O,,2.0,CPW,2,R,Y,Y,N,,N,,0,0,Y,,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,Y,N,Y,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,,,N,Y,,,M,W,1011901,22,5,8,160,BR,BR,M,,L,,,STREET,,,W 14 STREET,,,,,,,,,,,,,,
1,2004,113,8631,10202004,01:05,A,O,,1.0,GLA,5,V,Y,N,N,,N,,0,0,Y,,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,113,113,N,N,,S,Z,Z,9191975,28,5,11,170,BK,BR,M,,L,,,YARD,155-34,,115 ROAD,,,,,,,,,,,,,,
2,2004,32,10243,10312004,01:05,A,O,,1.0,CRIMINAL MISCHIEF,1,R,Y,N,N,,N,,0,0,Y,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,Y,N,N,N,N,N,N,Y,Y,N,N,N,N,N,N,N,,,N,N,,,M,B,1011901,22,5,8,160,BK,BR,T,,L,,,STREET CORNER,,,W 143,7 AVENUE,,,,,,,,,,,,,
3,2004,81,6363,1292004,01:10,A,O,,1.0,FELONY CPW,1,V,Y,N,N,,N,,0,0,N,,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,Y,N,N,N,N,Y,Y,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,81,81,Y,N,,S,M,B,1011901,22,5,11,170,BL,BK,M,,L,,,SIDEWALK,,,RALPH AVENUE,FULTON STREET,,,,,,,,,,,,,
4,2004,79,8129,6062004,01:10,A,O,,1.0,CPCS,3,R,Y,N,N,,N,,0,0,Y,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,Y,Y,N,N,N,N,N,N,N,79,79,N,N,,,M,B,1011901,0,5,11,180,BK,BR,M,,L,,,COM,551,,CLASSON AVE,,,,,,,,,,,,,,

In [6]:
features = ['sex', 'race', 'age', 'ht_feet', 'ht_inch', 'weight', 'frisked'] 
clasifier = ['arstmade']

In [6]:
df1 = sqf_df.loc[:,'sex':'weight'].copy()

In [8]:
df2 = sqf_df.loc[:,'city'].copy()

In [7]:
df1.drop(['dob'],inplace=True, axis=1)
df1.head()

  sex race  age  ht_feet  ht_inch  weight
0   M    W   22        5        8     160
1   Z    Z   28        5       11     170
2   M    B   22        5        8     160
3   M    B   22        5       11     170
4   M    B    0        5       11     180

In [9]:
df2.head()

0
1
2
3
4
Name: city, dtype: object

In [10]:
df3 = sqf_df.loc[:,'arstmade':'frisked'].copy()

In [11]:
df4 = sqf_df.loc[:,'arstmade':'frisked'].copy()

In [12]:
df3.drop(['arstoffn', 'sumissue', 'sumoffen', 'compyear', 'comppct', 'offunif', 'officrid', 'frisked'],inplace=True, axis=1)
df3.head()

  arstmade
0        N
1        N
2        N
3        N
4        N

In [13]:
df4.drop(['arstoffn', 'sumissue', 'sumoffen', 'compyear', 'comppct', 'offunif', 'officrid', 'arstmade'],inplace=True, axis=1)
df4.head()

  frisked
0       Y
1       N
2       N
3       Y
4       N

In [17]:
knn_df = pd.concat([df1, df4, df3, df2], axis=1)

In [15]:
knn_df.head()

  sex race  age  ht_feet  ht_inch  weight frisked arstmade
0   M    W   22        5        8     160       Y        N
1   Z    Z   28        5       11     170       N        N
2   M    B   22        5        8     160       N        N
3   M    B   22        5       11     170       Y        N
4   M    B    0        5       11     180       N        N

In [18]:

knn_df.city.unique()

array([' ', 'BROOKLYN', 'MANHATTAN', 'QUEENS', 'BRONX'], dtype=object)

In [20]:
knn_df.sex.unique()

array(['M', 'Z', 'F'], dtype=object)

In [21]:
knn_df.race.unique()

array(['W', 'Z', 'B', 'Q', 'P', 'A', 'I', 'U'], dtype=object)

In [22]:
knn_df.arstmade.unique()

array(['N', 'Y', ' '], dtype=object)

In [23]:
knn_df.frisked.unique()

array(['Y', 'N'], dtype=object)

In [24]:
knn_df.describe()

                 age        ht_feet        ht_inch         weight
count  313523.000000  313523.000000  313523.000000  313523.000000
mean       26.288830       5.140076       6.242206     163.196853
std        13.360485       0.658566       3.488226      47.147075
min         0.000000       0.000000       0.000000       0.000000
25%        18.000000       5.000000       4.000000     150.000000
50%        23.000000       5.000000       7.000000     165.000000
75%        34.000000       5.000000       9.000000     180.000000
max       100.000000       8.000000      90.000000    9150.000000

In [25]:
knn_df.weight
for x in knn_df['weight']:
    if x < 100: 
        knn_df['weight'].replace(x, np.nan, inplace=True)
    if x > 300: 
        knn_df['weight'].replace(x, np.nan, inplace=True)

In [26]:
for x in knn_df['age']:
    if x > 99:
        knn_df['age'].replace(x, np.nan, inplace=True)
    if x < 10:
        knn_df['age'].replace(x, np.nan, inplace=True)

In [27]:
knn_df.head()

  sex race   age  ht_feet  ht_inch  weight frisked arstmade
0   M    W  22.0        5        8   160.0       Y        N
1   Z    Z  28.0        5       11   170.0       N        N
2   M    B  22.0        5        8   160.0       N        N
3   M    B  22.0        5       11   170.0       Y        N
4   M    B   NaN        5       11   180.0       N        N

In [28]:
knn_df.describe()

                 age        ht_feet        ht_inch         weight
count  295505.000000  313523.000000  313523.000000  304814.000000
mean       27.890256       5.140076       6.242206     166.799730
std        12.030083       0.658566       3.488226      27.935484
min        10.000000       0.000000       0.000000     100.000000
25%        19.000000       5.000000       4.000000     150.000000
50%        24.000000       5.000000       7.000000     165.000000
75%        34.000000       5.000000       9.000000     180.000000
max        99.000000       8.000000      90.000000     300.000000

In [72]:
knn_drop_nan = knn_df.copy()
knn_drop_nan.dropna(inplace=True)
knn_drop_nan.reset_index(drop=True)

       sex race   age  ht_feet  ht_inch  weight frisked arstmade
0        M    W  22.0        5        8   160.0       Y        N
1        Z    Z  28.0        5       11   170.0       N        N
2        M    B  22.0        5        8   160.0       N        N
3        M    B  22.0        5       11   170.0       Y        N
4        M    B  25.0        6        0   200.0       Y        N
5        M    B  99.0        5       11   180.0       N        N
6        M    B  38.0        5        8   210.0       Y        N
7        M    Q  39.0        5        6   160.0       N        N
8        M    Q  24.0        5        5   150.0       N        N
9        M    Z  35.0        5        6   150.0       N        N
10       M    Q  20.0        5        7   180.0       N        N
11       Z    Z  57.0        5        7   150.0       Y        N
12       M    P  30.0        6        0   190.0       Y        N
13       M    B  35.0        5        8   200.0       N        N
14       M    A  24.0        5        9   180.0       N        N
15       M    W  16.0        5       10   170.0       N        N
16       M    B  22.0        5        9   185.0       Y        N
17       M    Q  25.0        5        6   150.0       N        N
18       M    B  98.0        6        2   240.0       N        N
19       M    B  53.0        6        0   180.0       Y        N
20       M    Q  20.0        5        8   150.0       N        N
21       M    B  19.0        5        8   160.0       Y        N
22       M    B  20.0        5        9   190.0       N        N
23       M    B  23.0        5       10   195.0       Y        Y
24       F    B  39.0        5        6   150.0       N        N
25       M    B  17.0        5        4   145.0       N        N
26       M    B  49.0        5       10   175.0       N        N
27       M    B  99.0        5        8   160.0       Y        N
28       M    Z  45.0        5        9   160.0       N        N
29       Z    Z  35.0        5        6   110.0       N        N
...     ..  ...   ...      ...      ...     ...     ...      ...
288840   M    Q  17.0        6        1   164.0       Y        N
288841   M    B  25.0        6        0   170.0       N        N
288842   M    B  41.0        5       11   179.0       Y        Y
288843   M    Q  31.0        5        9   170.0       N        N
288844   Z    Q  35.0        6        1   180.0       N        N
288845   Z    Z  23.0        6        2   175.0       N        N
288846   M    B  34.0        5       10   170.0       N        N
288847   M    B  99.0        5       11   180.0       N        N
288848   M    Q  14.0        5        4   130.0       Y        N
288849   M    Q  15.0        5        7   140.0       Y        N
288850   M    B  44.0        5        7   160.0       Y        N
288851   M    B  32.0        6        3   189.0       Y        N
288852   M    B  45.0        5        7   195.0       N        N
288853   M    B  19.0        5        9   170.0       Y        N
288854   M    B  32.0        5       11   180.0       N        N
288855   M    W  34.0        5        5   200.0       N        N
288856   M    B  19.0        5        6   150.0       Y        Y
288857   Z    Q  21.0        5       10   160.0       N        N
288858   M    B  45.0        5        9   150.0       Y        Y
288859   M    B  45.0        5        9   150.0       Y        Y
288860   M    Z  57.0        5        8   150.0       N        N
288861   M    B  17.0        5       10   150.0       N        N
288862   F    B  42.0        5        6   130.0       Y        N
288863   Z    Z  99.0        5        6   148.0       Y        N
288864   M    B  14.0        5        1   100.0       N        N
288865   M    B  51.0        5        7   160.0       Y        N
288866   M    B  43.0        6        2   180.0       Y        N
288867   M    B  38.0        5        8   140.0       N        N
288868   M    Q  40.0        5        8   150.0       N        N
288869   F    B  34.0        5        5   140.0       N        N

[288870 rows x 8 columns]

In [73]:
knn_drop_nan.describe()

                 age        ht_feet        ht_inch         weight
count  288870.000000  288870.000000  288870.000000  288870.000000
mean       27.873275       5.185526       6.300928     166.661824
std        11.937504       0.449107       3.451312      27.919970
min        10.000000       0.000000       0.000000     100.000000
25%        19.000000       5.000000       4.000000     150.000000
50%        24.000000       5.000000       7.000000     165.000000
75%        34.000000       5.000000       9.000000     180.000000
max        99.000000       8.000000      90.000000     300.000000

In [74]:
knn_drop_nan.columns

Index([u'sex', u'race', u'age', u'ht_feet', u'ht_inch', u'weight', u'frisked',
       u'arstmade'],
      dtype='object')

In [75]:
knn_df_with_labels = knn_drop_nan.copy()

In [76]:
                                #['W', 'Z', 'B', 'Q', 'P', 'A', 'I', 'U']
knn_drop_nan.replace(['M', 'F', 'W', 'B', 'Z', 'Q', 'P', 'A', 'I', 'U',' ', 'BROOKLYN', 'MANHATTAN', 'QUEENS', 'BRONX', 'STATEN IS', 'Y', 'N'], [0., 1., 0., 1., 2., 3., 4., 5., 6., 7., np.nan, 1., 2., 3., 4., 5., 0., 1.], inplace=True)

In [77]:
#Normalized Data
for x in knn_drop_nan.columns:
    i = np.array(knn_drop_nan[x],dtype=float)
    normalized = (i-min(i))/(max(i)-min(i))
    knn_drop_nan.drop(x, axis=1)
    knn_drop_nan[x] = normalized
    print normalized

[ 0.   1.   0.  ...,  0.   0.   0.5]
[ 0.          0.28571429  0.14285714 ...,  0.14285714  0.42857143
  0.14285714]
[ 0.13483146  0.20224719  0.13483146 ...,  0.31460674  0.33707865
  0.26966292]
[ 0.625  0.625  0.625 ...,  0.625  0.625  0.625]
[ 0.08888889  0.12222222  0.08888889 ...,  0.08888889  0.08888889
  0.05555556]
[ 0.3   0.35  0.3  ...,  0.2   0.25  0.2 ]
[ 0.  1.  1. ...,  1.  1.  1.]
[ 1.  1.  1. ...,  1.  1.  1.]

In [78]:
knn_drop_nan.describe()

,sex,race,age,ht_feet,ht_inch,weight,frisked,arstmade
count,288870.000000,288870.000000,288870.000000,288870.000000,288870.000000,288870.000000,288870.000000,288869.000000
mean,0.110920,0.250487,0.200823,0.648191,0.070010,0.333309,0.581248,0.945522
std,0.285878,0.178090,0.134129,0.056138,0.038348,0.139600,0.493356,0.226959
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.142857,0.101124,0.625000,0.044444,0.250000,0.000000,1.000000
50%,0.000000,0.142857,0.157303,0.625000,0.077778,0.325000,1.000000,1.000000
75%,0.000000,0.428571,0.269663,0.625000,0.100000,0.400000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [79]:
knn_drop_nan.index

Int64Index([     0,      1,      2,      3,      5,      6,      7,      9,
                10,     11,
            ...
            313513, 313514, 313515, 313516, 313517, 313518, 313519, 313520,
            313521, 313522],
           dtype='int64', length=288870)

# Year 2004

In [80]:
288870 * .2

57774.0

In [81]:
288870 - 57774

231096

In [84]:
knn_drop_nan.dropna(axis=0, inplace=True)

In [98]:
from sklearn.model_selection import train_test_split
X = knn_drop_nan.loc[:,:'weight']
y = knn_drop_nan.loc[:,'arstmade']
training, testing, train_label, test_label = train_test_split(X, y, test_size=0.20, random_state=42)

In [99]:
from sklearn.neighbors import KNeighborsClassifier
#training = knn_drop_nan.loc[:231096,:'frisked']
#train_label = knn_drop_nan.loc[:231096,'arstmade']
knn = KNeighborsClassifier()
knn.fit(training, train_label) 
#testing = knn_drop_nan.loc[231097:288870,:'frisked']
predicted = knn.predict(testing)

In [100]:
from sklearn.metrics import accuracy_score
#test_label = knn_drop_nan.loc[231097:288870,'arstmade']
acc = accuracy_score(test_label, predicted)

In [101]:
from sklearn.metrics import confusion_matrix
con_mat = confusion_matrix(test_label, predicted, [0, 1])

In [102]:
import math
total_accuracy = (con_mat[0, 0] + con_mat[1, 1]) / float(np.sum(con_mat))
class1_accuracy = (con_mat[0, 0] / float(np.sum(con_mat[0, :])))
class2_accuracy = (con_mat[1, 1] / float(np.sum(con_mat[1, :])))
print('Year 2004 - Arrested')
print(con_mat)
print('Total accuracy: %.5f' % total_accuracy)
print('Class1 accuracy: %.5f' % class1_accuracy)
print('Class2 accuracy: %.5f' % class2_accuracy)
print('Geometric mean accuracy: %.5f' % math.sqrt((class1_accuracy * class2_accuracy)))

Year 2004 - Arrested
[[   15  3120]
 [  135 54504]]
Total accuracy: 0.94366
Class1 accuracy: 0.00478
Class2 accuracy: 0.99753
Geometric mean accuracy: 0.06909