# K Nearest Neighbors Predictive Model - 2012
- Stop and Frisk Data

In [1]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
import numpy as np
import os

In [2]:
# Dowloading stop and frisk data
os.system("curl -O http://www.nyc.gov/html/nypd/downloads/zip/analysis_and_planning/2012_sqf_csv.zip")
#os.system("mv nycb2010_16d.zip PUIDATA")
os.system("sudo apt-get install unzip")
#os.getenv("PUIDATA")
os.system("unzip 2012_sqf_csv.zip") # -d" + os.getenv("PUIDATA"))

0

In [3]:
sqf_raw_data = pd.read_csv("2012.csv")
sqf_df = pd.DataFrame(sqf_raw_data)

/Users/christianrosado/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (10,73,103,110,111) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
sqf_df.head()

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,perstop,typeofid,explnstp,othpers,arstmade,arstoffn,sumissue,sumoffen,compyear,comppct,offunif,officrid,frisked,searched,contrabn,adtlrept,pistol,riflshot,asltweap,knifcuti,machgun,othrweap,pf_hands,pf_wall,pf_grnd,pf_drwep,pf_ptwep,pf_baton,pf_hcuff,pf_pepsp,pf_other,radio,ac_rept,ac_inves,rf_vcrim,rf_othsw,ac_proxm,rf_attir,cs_objcs,cs_descr,cs_casng,cs_lkout,rf_vcact,cs_cloth,cs_drgtr,ac_evasv,ac_assoc,cs_furtv,rf_rfcmp,ac_cgdir,rf_verbl,cs_vcrim,cs_bulge,cs_other,ac_incid,ac_time,rf_knowl,ac_stsnd,ac_other,sb_hdobj,sb_outln,sb_admis,sb_other,repcmd,revcmd,rf_furt,rf_bulg,offverb,offshld,forceuse,sex,race,dob,age,ht_feet,ht_inch,weight,haircolr,eyecolor,build,othfeatr,addrtyp,rescode,premtype,premname,addrnum,stname,stinter,crossst,aptnum,city,state,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,2012,40,17,1012012,115,1,O,P,2.0,ROBBERY,5,V,Y,N,N,,N,,0,0,Y,,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,Y,N,N,N,N,N,Y,N,Y,N,N,Y,N,Y,Y,Y,N,N,N,N,Y,Y,N,N,N,N,N,N,N,40,40,Y,N,,,,M,B,12311900,20,5,9,155,BK,BR,T,,R,,,SIDEWALK,,,CYPRESS AVENUE,EAST 139 STREET,,BRONX,,,40,C,*,,1008031,233036,CM,1,85
1,2012,23,691,1012012,310,1,I,P,2.0,M,5,P,Y,N,N,,N,,0,0,Y,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,Y,Y,Y,N,Y,N,N,N,N,N,23,23,N,N,,,,M,Q,12311900,18,5,7,175,BK,BR,M,,R,,,,310,EAST 110 STREET,1 AVENUE,2 AVENUE,,MANHATTAN,,,23,D,,12,1000852,228179,CM,1,9
2,2012,81,3714,1012012,2000,1,O,P,1.0,ROBBERY,5,V,Y,N,N,,N,,0,0,Y,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,Y,N,N,N,N,N,N,Y,N,N,Y,N,N,N,N,Y,Y,N,N,N,N,N,N,N,81,81,N,N,,,,M,B,12311900,19,5,9,180,BK,BR,M,,R,,,T,,,LEWIS AVENUE,GREENE AVENUE,,BROOKLYN,,,81,C,3,,1001869,190702,CM,1,85
3,2012,81,633,1022012,1245,1,O,P,3.0,ROBBERY,5,P,Y,N,N,,N,,0,0,Y,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,81,81,N,N,,,,M,B,12311900,37,5,5,210,BK,BR,H,,R,,,ST,1839,FULTON STREET,RALPH AVENUE,PATCHEN AVENUE,,BROOKLYN,,,81,J,*,,1005306,186668,CM,1,85
4,2012,66,36,1042012,2220,A,O,P,2.0,FELONY,10,V,Y,Y,N,,N,,0,0,N,,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,Y,Y,N,N,N,N,N,N,N,N,N,N,N,N,N,N,Y,N,N,N,N,N,N,N,72,72,N,N,,S,,M,Q,5211990,21,5,7,170,BK,BR,M,,R,,,STREET,,,FORT HAMILTON PARKWAY,39 STREET,,BROOKLYN,,,66,J,,,986887,173599,CM,1,46

In [6]:
features = ['sex', 'race', 'age', 'ht_feet', 'ht_inch', 'weight', 'frisked'] 
clasifier = ['arstmade']

In [7]:
df1 = sqf_df.loc[:,'sex':'weight'].copy()

In [8]:
df2 = sqf_df.loc[:,'city'].copy()

In [9]:
df1.drop(['dob'],inplace=True, axis=1)
df1.head()

  sex race  age  ht_feet  ht_inch  weight
0   M    B   20        5        9     155
1   M    Q   18        5        7     175
2   M    B   19        5        9     180
3   M    B   37        5        5     210
4   M    Q   21        5        7     170

In [10]:
df2.head()

0        BRONX
1    MANHATTAN
2     BROOKLYN
3     BROOKLYN
4     BROOKLYN
Name: city, dtype: object

In [11]:
df3 = sqf_df.loc[:,'arstmade':'frisked'].copy()

In [12]:
df4 = sqf_df.loc[:,'arstmade':'frisked'].copy()

In [13]:
df3.drop(['arstoffn', 'sumissue', 'sumoffen', 'compyear', 'comppct', 'offunif', 'officrid', 'frisked'],inplace=True, axis=1)
df3.head()

  arstmade
0        N
1        N
2        N
3        N
4        N

In [14]:
df4.drop(['arstoffn', 'sumissue', 'sumoffen', 'compyear', 'comppct', 'offunif', 'officrid', 'arstmade'],inplace=True, axis=1)
df4.head()

  frisked
0       Y
1       N
2       N
3       N
4       N

In [15]:
knn_df = pd.concat([df1, df2, df4, df3], axis=1)

In [16]:
knn_df.head()

  sex race  age  ht_feet  ht_inch  weight       city frisked arstmade
0   M    B   20        5        9     155      BRONX       Y        N
1   M    Q   18        5        7     175  MANHATTAN       N        N
2   M    B   19        5        9     180   BROOKLYN       N        N
3   M    B   37        5        5     210   BROOKLYN       N        N
4   M    Q   21        5        7     170   BROOKLYN       N        N

In [17]:
knn_df.city.unique()

array(['BRONX', 'MANHATTAN', 'BROOKLYN', 'QUEENS', 'STATEN IS', ' '], dtype=object)

In [18]:
knn_df.sex.unique()

array(['M', 'F', 'Z'], dtype=object)

In [19]:
knn_df.race.unique()

array(['B', 'Q', 'W', 'P', 'A', 'U', 'Z', 'I'], dtype=object)

In [20]:
knn_df.arstmade.unique()

array(['N', 'Y'], dtype=object)

In [21]:
knn_df.frisked.unique()

array(['Y', 'N'], dtype=object)

In [22]:
knn_df.describe()

                 age        ht_feet        ht_inch         weight
count  532911.000000  532911.000000  532911.000000  532911.000000
mean       28.769539       5.181846       6.417967     169.284830
std        24.006996       0.397057       3.363582      36.838004
min         0.000000       3.000000       0.000000       0.000000
25%        19.000000       5.000000       4.000000     150.000000
50%        24.000000       5.000000       7.000000     165.000000
75%        34.000000       5.000000       9.000000     180.000000
max       999.000000       7.000000      11.000000     999.000000

In [23]:
knn_df.weight
for x in knn_df['weight']:
    if x < 100: 
        knn_df['weight'].replace(x, np.nan, inplace=True)
    if x > 300: 
        knn_df['weight'].replace(x, np.nan, inplace=True)

In [24]:
for x in knn_df['age']:
    if x > 99:
        knn_df['age'].replace(x, np.nan, inplace=True)
    if x < 10:
        knn_df['age'].replace(x, np.nan, inplace=True)

In [25]:
knn_df.head()

  sex race   age  ht_feet  ht_inch  weight       city frisked arstmade
0   M    B  20.0        5        9   155.0      BRONX       Y        N
1   M    Q  18.0        5        7   175.0  MANHATTAN       N        N
2   M    B  19.0        5        9   180.0   BROOKLYN       N        N
3   M    B  37.0        5        5   210.0   BROOKLYN       N        N
4   M    Q  21.0        5        7   170.0   BROOKLYN       N        N

In [26]:
knn_df.describe()

                 age        ht_feet        ht_inch         weight
count  530922.000000  532911.000000  532911.000000  530306.000000
mean       28.176757       5.181846       6.417967     168.794587
std        11.863776       0.397057       3.363582      28.180272
min        10.000000       3.000000       0.000000     100.000000
25%        19.000000       5.000000       4.000000     150.000000
50%        24.000000       5.000000       7.000000     165.000000
75%        34.000000       5.000000       9.000000     180.000000
max        99.000000       7.000000      11.000000     300.000000

In [27]:
knn_drop_nan = knn_df.copy()
knn_drop_nan.dropna(inplace=True)
knn_drop_nan.reset_index(drop=True)

       sex race   age  ht_feet  ht_inch  weight       city frisked arstmade
0        M    B  20.0        5        9   155.0      BRONX       Y        N
1        M    Q  18.0        5        7   175.0  MANHATTAN       N        N
2        M    B  19.0        5        9   180.0   BROOKLYN       N        N
3        M    B  37.0        5        5   210.0   BROOKLYN       N        N
4        M    Q  21.0        5        7   170.0   BROOKLYN       N        N
5        F    B  62.0        5        7   140.0  MANHATTAN       Y        Y
6        M    Q  31.0        5        9   170.0      BRONX       Y        N
7        M    B  20.0        5        7   160.0   BROOKLYN       Y        N
8        M    B  21.0        5        7   135.0   BROOKLYN       Y        N
9        M    B  34.0        5        8   170.0   BROOKLYN       Y        N
10       M    B  18.0        6        0   180.0      BRONX       Y        N
11       M    B  18.0        5        8   150.0  MANHATTAN       Y        N
12       M    B  21.0        5        9   155.0  MANHATTAN       Y        N
13       M    B  26.0        5        7   140.0  MANHATTAN       Y        N
14       M    B  20.0        5        8   170.0   BROOKLYN       N        N
15       M    B  19.0        6        0   160.0      BRONX       Y        N
16       M    W  21.0        5       10   160.0   BROOKLYN       N        N
17       M    Q  23.0        5        6   160.0     QUEENS       Y        N
18       M    B  54.0        5        7   160.0  MANHATTAN       N        N
19       M    B  27.0        5       10   180.0   BROOKLYN       Y        N
20       M    B  19.0        5        9   160.0      BRONX       Y        N
21       M    B  17.0        5        5   150.0      BRONX       Y        N
22       M    Q  21.0        5        8   160.0   BROOKLYN       Y        N
23       M    B  31.0        5        7   160.0   BROOKLYN       Y        N
24       M    B  19.0        6        0   170.0      BRONX       Y        N
25       M    B  58.0        5        6   170.0  MANHATTAN       N        N
26       M    B  24.0        5        9   160.0  MANHATTAN       Y        N
27       M    B  38.0        6        0   170.0      BRONX       Y        N
28       M    B  68.0        5        9   160.0  MANHATTAN       N        N
29       M    B  29.0        5        9   190.0      BRONX       N        N
...     ..  ...   ...      ...      ...     ...        ...     ...      ...
528349   M    W  24.0        5        7   140.0  STATEN IS       Y        N
528350   M    W  21.0        5       11   200.0  STATEN IS       N        N
528351   M    W  27.0        5        9   185.0  STATEN IS       Y        Y
528352   M    W  25.0        5        7   210.0  STATEN IS       N        N
528353   M    W  36.0        5        4   160.0  STATEN IS       Y        Y
528354   M    W  20.0        5        7   210.0  STATEN IS       Y        N
528355   M    W  22.0        5        9   140.0  STATEN IS       Y        N
528356   F    W  47.0        6        0   240.0  STATEN IS       Y        N
528357   M    W  35.0        5       11   240.0  STATEN IS       Y        Y
528358   M    W  21.0        6        1   200.0  STATEN IS       N        N
528359   M    W  26.0        5        7   190.0  STATEN IS       N        N
528360   M    A  22.0        5        7   170.0  STATEN IS       Y        N
528361   M    W  25.0        5        6   150.0  STATEN IS       Y        N
528362   M    W  22.0        5       10   180.0  STATEN IS       Y        N
528363   M    W  20.0        5        5   140.0  STATEN IS       Y        N
528364   M    W  20.0        6        0   185.0  STATEN IS       Y        N
528365   M    W  17.0        5        7   150.0  STATEN IS       N        N
528366   M    W  15.0        5        4   140.0  STATEN IS       N        N
528367   M    W  16.0        5        6   150.0  STATEN IS       Y        N
528368   M    W  16.0        5        4   140.0  STATEN IS       Y        N
528369   M    W  18.0        5        6   145.0  STATEN IS       Y        N
528370   M    W  27.0        5       11   195.0  STATEN IS       N        N
528371   M    W  17.0        5        8   175.0  STATEN IS       N        N
528372   M    W  21.0        5       10   165.0  STATEN IS       N        N
528373   F    A  25.0        5        5   175.0  STATEN IS       N        N
528374   M    W  21.0        5       10   175.0  STATEN IS       N        N
528375   F    W  22.0        5        4   120.0  STATEN IS       N        N
528376   M    W  17.0        5        5   150.0  STATEN IS       N        N
528377   M    W  18.0        5        8   150.0  STATEN IS       N        N
528378   M    W  18.0        5       10   160.0  STATEN IS       N        N

[528379 rows x 9 columns]

In [28]:
knn_drop_nan.describe()

                 age        ht_feet        ht_inch         weight
count  528379.000000  528379.000000  528379.000000  528379.000000
mean       28.174309       5.181756       6.423730     168.792403
std        11.851279       0.394935       3.360425      28.175213
min        10.000000       3.000000       0.000000     100.000000
25%        19.000000       5.000000       4.000000     150.000000
50%        24.000000       5.000000       7.000000     165.000000
75%        34.000000       5.000000       9.000000     180.000000
max        99.000000       7.000000      11.000000     300.000000

In [29]:
knn_drop_nan.columns

Index([u'sex', u'race', u'age', u'ht_feet', u'ht_inch', u'weight', u'city',
       u'frisked', u'arstmade'],
      dtype='object')

In [30]:
knn_df_with_labels = knn_drop_nan.copy()

In [31]:
                                #['B', 'Q', 'W', 'P', 'A', 'U', 'Z', 'I']
knn_drop_nan.replace(['M', 'F', 'B', 'P', 'Z', 'Q', 'W', 'A', 'I', 'U', ' ', 'BROOKLYN', 'MANHATTAN', 'QUEENS', 'BRONX', 'STATEN IS', 'Y', 'N'], [0., 1., 0., 1., 2., 3., 4., 5., 6., 7., np.nan, 1., 2., 3., 4., 5., 0., 1.], inplace=True)

In [32]:
#Normalized Data
for x in knn_drop_nan.columns:
    i = np.array(knn_drop_nan[x],dtype=float)
    normalized = (i-min(i))/(max(i)-min(i))
    knn_drop_nan.drop(x, axis=1)
    knn_drop_nan[x] = normalized
    print normalized

[ 0.  0.  0. ...,  0.  0.  0.]
[ 0.          0.42857143  0.         ...,  0.57142857  0.57142857
  0.57142857]
[ 0.11235955  0.08988764  0.1011236  ...,  0.07865169  0.08988764
  0.08988764]
[ 0.5  0.5  0.5 ...,  0.5  0.5  0.5]
[ 0.81818182  0.63636364  0.81818182 ...,  0.45454545  0.72727273
  0.90909091]
[ 0.275  0.375  0.4   ...,  0.25   0.25   0.3  ]
[ 0.75  0.25  0.   ...,  1.    1.    1.  ]
[ 0.  1.  1. ...,  1.  1.  1.]
[ 1.  1.  1. ...,  1.  1.  1.]

In [33]:
knn_drop_nan.describe()

,sex,race,age,ht_feet,ht_inch,weight,city,frisked,arstmade
count,528379.000000,528379.000000,528379.000000,528379.000000,528379.000000,528379.000000,528374.000000,528379.000000,528379.000000
mean,0.049987,0.206761,0.204206,0.545439,0.583975,0.343962,0.338885,0.441611,0.939400
std,0.172509,0.249362,0.133160,0.098734,0.305493,0.140876,0.311568,0.496579,0.238596
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.101124,0.500000,0.363636,0.250000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,0.157303,0.500000,0.636364,0.325000,0.250000,0.000000,1.000000
75%,0.000000,0.428571,0.269663,0.500000,0.818182,0.400000,0.500000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [34]:
knn_drop_nan.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            532901, 532902, 532903, 532904, 532905, 532906, 532907, 532908,
            532909, 532910],
           dtype='int64', length=528379)

# Year 2012

In [35]:
knn_drop_nan.dropna(axis=0, inplace=True)

In [41]:
from sklearn.model_selection import train_test_split
X = knn_drop_nan.loc[:,:'weight']
y = knn_drop_nan.loc[:,'arstmade']
training, testing, train_label, test_label = train_test_split(X, y, test_size=0.20, random_state=42)

In [42]:
from sklearn.neighbors import KNeighborsClassifier
#training = knn_drop_nan.loc[:231096,:'frisked']
#train_label = knn_drop_nan.loc[:231096,'arstmade']
knn = KNeighborsClassifier()
knn.fit(training, train_label) 
#testing = knn_drop_nan.loc[231097:288870,:'frisked']
predicted = knn.predict(testing)

In [43]:
from sklearn.metrics import accuracy_score
#test_label = knn_drop_nan.loc[231097:288870,'arstmade']
acc = accuracy_score(test_label, predicted)

In [44]:
from sklearn.metrics import confusion_matrix
con_mat = confusion_matrix(test_label, predicted, [0, 1])

In [45]:
import math
total_accuracy = (con_mat[0, 0] + con_mat[1, 1]) / float(np.sum(con_mat))
class1_accuracy = (con_mat[0, 0] / float(np.sum(con_mat[0, :])))
class2_accuracy = (con_mat[1, 1] / float(np.sum(con_mat[1, :])))
print('Year 2012 - Arrested')
print(con_mat)
print('Total accuracy: %.5f' % total_accuracy)
print('Class1 accuracy: %.5f' % class1_accuracy)
print('Class2 accuracy: %.5f' % class2_accuracy)
print('Geometric mean accuracy: %.5f' % math.sqrt((class1_accuracy * class2_accuracy)))

Year 2012 - Arrested
[[   24  6290]
 [  256 99105]]
Total accuracy: 0.93806
Class1 accuracy: 0.00380
Class2 accuracy: 0.99742
Geometric mean accuracy: 0.06157